{% extends 'index.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}

{% block content %}
    <div class="container-fluid vh-75 d-flex flex-start flex-wrap">
        <div class="container-fluid">
            {% include 'partials/message.html' %}
            <div>
                <p class="h3 mt-3 mb-3 text-center">
                    {% if campanha.usa_numero_da_sorte == 'S' %}
                        Lista de produtos no pedido {{numped}} do cliente {{cliente}} na {{campanha.descricao}}
                    {% else %}
                        Lista de produtos no pedido {{venda.0}} do cliente {{cliente}} na {{campanha.descricao}}
                    {% endif %}
                </p>
            </div>
            <div class="mt-3 table-responsive">
                <table class="table tableSearchButton table-primary table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="text-start">CodProd</th>
                            <th class="text-start">Ean13</th>
                            <th class="text-start">Codfilial</th>
                            <th class="text-start">Descrição</th>
                            <th class="text-start">Preço</th>
                            <th class="text-start">Quantidade</th>
                            <th class="text-start">CodFornec</th>
                            <th class="text-start">Forncedor</th>
                            <th class="text-start">CodMarca</th>
                            <th class="text-start">Marca</th>
                            <th class="text-start">Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dado in dados %}
                            <tr>
                                <td class="text-start">{{dado.0}}</td>
                                <td class="text-start">{{dado.1}}</td>
                                <td class="text-start">{{dado.2}}</td>
                                <td class="text-start">{{dado.3}}</td>
                                <td class="text-start">{{dado.4 |floatformat:2}}</td>
                                <td class="text-start">{{dado.5 |floatformat:3}}</td>
                                <td class="text-start">{{dado.6}}</td>
                                <td class="text-start">{{dado.7}}</td>
                                <td class="text-start">{{dado.8}}</td>
                                <td class="text-start">{{dado.9}}</td>
                                <td class="text-start">{{dado.10}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div> 

{% endblock %}