{% extends 'index.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}

{% block content %}
    <div class="container-fluid vh-75 d-flex flex-start flex-wrap">
        <div class="container-fluid">
            {% include 'partials/message.html' %}
            <div class="mt-3 table-responsive">
                <table class="table tableSearch table-primary table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="text-start">AÇÕES</th>
                            <th class="text-start">ID</th>
                            <th class="text-start">DESCRIÇÃO</th>
                            <th class="text-start">DATA INICIAL</th>
                            <th class="text-start">DATA FINAL</th>
                            <th class="text-start">VALOR CUPOM</th>
                            <th class="text-start">TIPO DE INTENSIFICADOR</th>
                            <th class="text-start">VALOR DO INTENSIFICADOR</th>
                            <th class="text-start">INTENSIFICADOR FORNECEDOR</th>
                            <th class="text-start">INTENSIFICADOR PRODUTO</th>
                            {% comment %} <th class="text-start">GANHADOR</th> {% endcomment %}
                            <th class="text-start">ENVIA EMAIL</th>
                            <th class="text-start">ATIVO</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for campanha in listacampanhas %}
                            <tr>
                                <td class="text-start">
                                    <div class="dropdown">
                                        <!-- Dropdown Toggle Button -->
                                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton{{campanha.0}}" data-bs-toggle="dropdown" aria-expanded="false">
                                        
                                        </button>
                                    
                                        <!-- Dropdown Menu -->
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{campanha.0}}">
                                            <li>
                                                <a href="{{campanha.0}}/" class="dropdown-item btn btn-sm">
                                                    <i class="fa-solid fa-door-open"></i> Verificar clientes na campanha
                                                </a>
                                            </li>
                                            <li>
                                                <button type="button" class="dropdown-item btn btn-sm" data-bs-toggle="modal" data-bs-target="#editModal{{campanha.0}}">
                                                    <i class="fas fa-edit"></i> Editar campanha
                                                </button>
                                            </li>
                                            {% if campanha.10 == 'N' %}
                                                <li>
                                                    <button type="button" class="dropdown-item btn btn-sm" data-bs-toggle="modal" data-bs-target="#activeModal{{campanha.0}}">
                                                        <i class="fa fa-check"></i> Ativar campanha
                                                    </button>
                                                </li>
                                            {% endif %}
                                            {% if campanha.10 == 'S' %}
                                                <li>
                                                    <button type="button" class="dropdown-item btn btn-sm" data-bs-toggle="modal" data-bs-target="#desactiveModal{{campanha.0}}">
                                                        <i class="fas fa-ban"></i> Desativar campanha
                                                    </button>
                                                </li>
                                            {% endif %}
                                            <li>
                                                <button type="button" class="dropdown-item btn btn-sm" data-bs-toggle="modal" data-bs-target="#delete{{campanha.0}}">
                                                    <i class="fas fa-trash-alt"></i> Deletar campanha
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td class="text-start">{{campanha.0}}</td>
                                <td class="text-start">{{campanha.1}}</td>
                                <td class="text-start">{{campanha.2}}</td>
                                <td class="text-start">{{campanha.3}}</td>
                                <td class="text-start">R$ {{campanha.4}}</td>
                                <td class="text-start">
                                    {% if campanha.14 == 'N' %} 
                                        Nenhum
                                    {% elif campanha.14 == 'M' %} 
                                        Multiplicação 
                                    {% elif campanha.14 == 'S' %} 
                                        Soma 
                                    {% endif %}
                                </td>
                                <td class="text-start">
                                    {% if campanha.14 == 'N' %} 
                                        Nenhum
                                    {% else %} 
                                        {{campanha.4}}
                                    {% endif %} 
                                </td>
                                <td class="text-start">
                                    {% if campanha.14 == 'N' %} 
                                        Nenhum
                                    {% else %} 
                                        {% if campanha.5 == 'N' %} 
                                            Não usa 
                                        {% elif campanha.5 == 'S' %} 
                                            Cadastro 
                                        {% elif campanha.5 == 'M' %} 
                                            Multiplo 
                                        {% endif %}
                                    {% endif %} 
                                </td>
                                <td class="text-start">
                                    {% if campanha.14 == 'N' %} 
                                        Nenhum
                                    {% else %} 
                                        {% if campanha.6 == 'N' %} 
                                            Não usa
                                        {% elif campanha.6 == 'C' %} 
                                            Cadastro 
                                        {% elif campanha.6 == 'M' %} 
                                            Multiplo 
                                        {% endif %}
                                    {% endif %} 
                                </td>
                                <td class="text-start">
                                    {% if campanha.13 == 'N' %} 
                                        Não
                                    {% elif campanha.13 == 'S' %} 
                                        Sim
                                    {% endif %} 
                                </td>
                                <td class="text-start">{{campanha.10}}</td>
                            </tr>

                            <!-- Modal de Edição -->
                            <div class="modal fade" id="editModal{{campanha.0}}" tabindex="-1" aria-labelledby="editModal{{campanha.0}}ds" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <form novalidate class="modal-content needs-validation" method="POST">
                                        {% csrf_token %}
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editModal{{campanha.0}}ds">Editar {{campanha.1}}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body modal-body1 d-flex justify-content-start flex-wrap">
                                                <input type="hidden" value="{{campanha.0}}" name="codigo" id="codigo"/>
                                                <div class="col-12 mb-3">
                                                    <label for="descricao" class="form-label">Descrição</label>
                                                    <input required type="text" class="form-control" name="descricao" id="descricao" value="{{campanha.1}}" placeholder="Digite a descrição">
                                                </div>
                                                <div class="col-md-3 col-12 mb-3">
                                                    <label for="dtInicial" class="form-label">Data Inicial</label>
                                                    <input required type="date" class="form-control" name="dtinicial" id="dtinicial" value="{{campanha.11}}">
                                                </div>
                                                <div class="col-md-3 col-12 mb-3">
                                                    <label for="dtFinal" class="form-label">Data Final</label>
                                                    <input required type="date" class="form-control" name="dtfinal" id="dtfinal" value="{{campanha.12}}">
                                                </div>
                                                <div class="col-md-3 col-12 mb-3">
                                                    <label for="valor" class="form-label">Valor</label>
                                                    <input required type="number" class="form-control" name="valor" id="valor" value="{{campanha.4}}" placeholder="Digite o valor">
                                                </div>
                                                <div class="col-md-3 col-12 mb-3">
                                                    <label for="usaemail" class="form-label">Envia email</label>
                                                    <select required class="form-select" name="usaemail" id="usaemail">
                                                        <option {% if campanha.13 == 'S' %} selected {% endif %} value="S">Enviar email ao cliente informando os cupons obtidos</option>
                                                        <option {% if campanha.13 == 'N' %} selected {% endif %} value="N">Não enviar email</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4 col-12 mb-3">
                                                    <label for="tipointensificador" class="form-label">Tipo de intensificador</label>
                                                    <select required class="form-select" name="tipointensificador" id="tipointensificador">
                                                        <option {% if campanha.14 == 'N' %} selected {% endif %} value="N">1 - Não utilizar intensificador</option>
                                                        <option {% if campanha.14 == 'M' %} selected {% endif %} value="M">2 - Multiplicação</option>
                                                        <option {% if campanha.14 == 'S' %} selected {% endif %} value="S">3 - Soma</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4 col-12 mb-3">
                                                    <label for="usafornec" class="form-label">Utiliza fornecedor</label>
                                                    <select required class="form-select" name="usafornec" id="usafornec">
                                                        <option {% if campanha.6 == 'N' %} selected {% endif %} value="N">1 - Não utilizar intensificador por fornecedor</option>
                                                        <option {% if campanha.6 == 'C' %} selected {% endif %} value="C">2 - Intensificador por fornecedor cadastrado</option>
                                                        <option {% if campanha.6 == 'M' %} selected {% endif %} value="M">3 - Intensificador por fornecedor multiplo</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4 col-12 mb-3">
                                                    <label for="usaprod" class="form-label">Utiliza produto</label>
                                                    <select required class="form-select" name="usaprod" id="usaprod">
                                                        <option {% if campanha.7 == 'N' %} selected {% endif %} value="N">1 - Não utilizar intensificador por produto</option>
                                                        <option {% if campanha.7 == 'C' %} selected {% endif %} value="C">2 - Utilizar intensificador por produto cadastrado</option>
                                                        <option {% if campanha.7 == 'M' %} selected {% endif %} value="M">3 - Utilizar intensificador por produto multiplo</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4 col-12 mb-3">
                                                    <label for="multiplicador" class="form-label">Valor do intensificador</label>
                                                    <input required type="number" class="form-control" name="multiplicador" id="multiplicador" value="{{campanha.4}}" placeholder="valor">
                                                </div>
                                                <div class="col-md-4 col-12 mb-3">
                                                    <label for="fornecvalor" class="form-label">Quantidade de fornecedores</label>
                                                    <input required type="number" class="form-control" name="fornecvalor" id="fornecvalor" value="{{campanha.15}}" placeholder="Digite a quantidade">
                                                </div>
                                                <div class="col-md-4 col-12 mb-3">
                                                    <label for="prodvalor" class="form-label">Quantidade de produtos</label>
                                                    <input required type="number" class="form-control" name="prodvalor" id="prodvalor" value="{{campanha.16}}" placeholder="Digite a quantidade">
                                                </div>
                                            </div>
                                            <div class="modal-footer d-flex justify-content-between flex-nowrap">
                                                <button type="button" class="btn btn-secondary btn-sm col-5" data-bs-dismiss="modal">Cancelar</button>
                                                <button type="submit" name="edit" class="btn btn-primary btn-sm col-5">Editar</button>
                                                <button type="submit" name="edit2" class="btn btn-primary d-none">Salvar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <!-- Modal de ativar -->
                            <div class="modal fade" id="activeModal{{campanha.0}}" tabindex="-1" aria-labelledby="activeModal{{campanha.0}}ds" aria-hidden="true">
                                <div class="modal-dialog">
                                    <form class="modal-content needs-validation" method="POST">
                                        {% csrf_token %}
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editModal{{campanha.0}}ds">Ativar {{campanha.1}}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body modal-body1 d-flex justify-content-start flex-wrap">
                                                <input type="hidden" value="{{campanha.0}}" name="codigo" id="codigo"/>
                                                <div class="text-center w-100 mt-5 mb-4">
                                                    <i class="fa fa-check fa-6x " style="color: Green;"></i>
                                                </div>
                                                <div class="text-center w-100 mb-3">
                                                    <h4 class="modal-title">Você tem certeza?</h4>
                                                </div>
                                                <div class="form-group">
                                                    <p class="text-center">Deseja realmente ativar a campanha? Somente uma campanha pode estar ativa ao mesmo tempo</p>
                                                </div>
                                            </div>
                                            <div class="modal-footer d-flex justify-content-center flex-nowrap">
                                                <button type="button" class="btn btn-secondary col-6" data-bs-dismiss="modal">Cancelar</button>
                                                <button type="submit" name="active" class="btn btn-success col-6">Ativar</button>
                                                <button type="submit" name="insert2" class="btn btn-secondary d-none">Salvar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <!-- Modal de desativar -->
                            <div class="modal fade" id="desactiveModal{{campanha.0}}" tabindex="-1" aria-labelledby="activeModal{{campanha.0}}ds" aria-hidden="true">
                                <div class="modal-dialog">
                                    <form class="modal-content needs-validation" method="POST">
                                        {% csrf_token %}
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editModal{{campanha.0}}ds">Desativar {{campanha.1}}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body modal-body1 d-flex justify-content-start flex-wrap">
                                                <input type="hidden" value="{{campanha.0}}" name="codigo" id="codigo"/>
                                                <div class="text-center w-100 mt-5 mb-4">
                                                    <i class="fas fa-ban fa-6x " style="color: #ffc107;"></i>
                                                </div>
                                                <div class="text-center w-100 mb-3">
                                                    <h4 class="modal-title">Você tem certeza?</h4>
                                                </div>
                                                <div class="form-group">
                                                    <p class="text-center">Deseja realmente desativar a campanha? Não será mais possivel pesquisar CPF nem gerar novos números</p>
                                                </div>
                                            </div>
                                            <div class="modal-footer d-flex justify-content-center flex-nowrap">
                                                <button type="button" class="btn btn-secondary col-6" data-bs-dismiss="modal">Cancelar</button>
                                                <button type="submit" name="desative" class="btn btn-danger col-6">Desativar</button>
                                                <button type="submit" name="insert2" class="btn btn-secondary d-none">Salvar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <!-- Modal de deletar -->
                            <div class="modal fade" id="delete{{campanha.0}}" tabindex="-1" aria-labelledby="delete{{campanha.0}}ds" aria-hidden="true">
                                <div class="modal-dialog">
                                    <form class="modal-content needs-validation" method="POST">
                                        {% csrf_token %}
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editModal{{campanha.0}}ds">Deletar {{campanha.1}}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body modal-body1 d-flex justify-content-start flex-wrap">
                                                <input type="hidden" value="{{campanha.0}}" name="codigo" id="codigo"/>
                                                <div class="text-center w-100 mt-5 mb-4">
                                                    <i class="fa-solid fa-circle-xmark fa-6x " style="color: Tomato;"></i>
                                                </div>
                                                <div class="text-center w-100 mb-3">
                                                    <h4 class="modal-title">Você tem certeza?</h4>
                                                </div>
                                                <div class="form-group">
                                                    <p class="text-center">Deseja realmente deletar a campanha? Essa ação não pode ser desfeita</p></p>
                                                </div>
                                            </div>
                                            <div class="modal-footer d-flex justify-content-center flex-nowrap">
                                                <button type="button" class="btn btn-secondary col-6" data-bs-dismiss="modal">Cancelar</button>
                                                <button type="submit" name="delete" class="btn btn-danger col-6">Deletar</button>
                                                <button type="submit" name="insert2" class="btn btn-secondary d-none">Salvar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                    </tbody>
                </table>

                {% include 'partials/components/insertmodal.html' %} 
            </div>
        </div>
    </div> 

{% endblock %}