{% extends 'index.html' %}
{% load static %}
{% block title %}Clube de promoções{% endblock %}

{% block content %}

<header class="masthead">
    <div class="container-fluid position-relative">
        <div class="row mb-3">
            {% if listacampanhas %}
                {% for campanha in listacampanhas %}
                    <div class="col-md-4 col-12 mb-4">
                        <a href="campanha/{{ campanha.IDCAMPANHA }}/" class="card text-center text-decoration-none ">
                            <img src="media/{{ campanha.logo_campanha }}" class="card-img-top img-responsive" alt="..." style="max-height: 16rem; min-height: 16rem;">
                            <div class="card-body">
                                <p class="card-title w-100 text-center h5 text-truncate-2-lines" title="{{ campanha.DESCRICAO }}">
                                    {{ campanha.DESCRICAO }}
                                </p>
                                <p class="card-subtitle text-muted w-100 h6 text-center">
                                    {% if campanha.days_remaining <= 1 %}
                                        {{ campanha.days_remaining }} dia restante
                                    {% else %}
                                        {{ campanha.days_remaining }} dias restantes
                                    {% endif %}
                                </p>
                            </div>
                            <div class="card-footer">
                                {% comment %} <small class="card-text">
                                    {% if campanha.count_cli > 1 %} 
                                        {{ campanha.count_cli }} Cupons gerados na campanha
                                    {% elif campanha.count_cli == 1 %}
                                        {{ campanha.count_cli }} Cupom gerado na campanha
                                    {% else %}
                                        Nenhum Cupom gerado na campanha
                                    {% endif %}
                                </small> {% endcomment %}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-12">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Nenhuma campanha ativa no momento</h5>
                            <p class="card-text">Fique ligado! Novas campanhas serão lançadas em breve. Volte mais tarde para conferir as novidades.</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</header>

{% endblock %}
