{% extends 'index.html' %}
{% load static %}
{% block title %}Cadastro de Cliente{% endblock %}

{% block content %}
    <div class="container vh-75 d-flex flex-column justify-content-center align-items-center">
        {% comment %} {% include 'partials/message.html' %} {% endcomment %}
        <h2 id='title' class="card-title text-center mt-5 mb-3">{{variaveis_globais.client_title}}</h2>
        <p class="card-title text-center mb-4 h6">{{variaveis_globais.client_subtitle}}</p>
        <form method="post" autocomplete="off" action="{% url 'cadastro_cliente' %}" class="d-flex justify-content-between flex-wrap col-12 col-md-6 col-sm-8 needs-validation" novalidate>
            {% csrf_token %}
            
            {% for field in form %}
                <div class="input-group-cosmic-cascade-tetra-49m7 {{ field.field.widget.attrs.classdiv }}">
                    {{ field }}
                    <label class="user-label-cosmic-cascade-tetra-49m7 {{ field.field.widget.attrs.classlabel }}" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% if field.errors %}
                        <div class="invalid-feedback">
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="text-center col-12">
                <button type="submit" class="btn btn-primary w-100 mb-5">Cadastrar</button>
            </div>
        </form>
    </div>

    <script type="text/javascript" src="{% static 'js/jquery.correios.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/validation.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const cpfInput = document.querySelector('input[name="cnpf_cnpj"]');
            const tipoPessoaSelect = document.querySelector('select[name="tipo_pessoa"]');
            
            // Initialize Cleave.js for CPF/CNPJ
            let cleave = new Cleave(cpfInput, {
                blocks: [3, 3, 3, 2],
                delimiters: ['.', '.', '-'],
                numericOnly: true
            });

            tipoPessoaSelect.addEventListener('change', function () {
                cleave.destroy();
                if (this.value === 'F') {
                    cleave = new Cleave(cpfInput, {
                        blocks: [3, 3, 3, 2],
                        delimiters: ['.', '.', '-'],
                        numericOnly: true
                    });
                } else if (this.value === 'J') {
                    cleave = new Cleave(cpfInput, {
                        blocks: [2, 3, 3, 4],
                        delimiters: ['.', '.', '/', '-'],
                        numericOnly: true
                    });
                }
            });
        });
    </script>
{% endblock %}
