{% extends 'indexlogin.html' %}
{% block title %}Email de Recuperação Enviado{% endblock %}

{% block content %}
    <div class="container-fluid vh-100">
        <div class="d-flex justify-content-center align-items-center vh-100">
            <div class="col-md-6 col-12">
                <div class="mt-3">
                    <h3 class="m-0 text-center mt-4">Email de Recuperação Enviado</h3>
                    <div class="card-body">
                        <p class="text-center">
                            Um link para redefinir sua senha foi enviado ao seu email.
                            Por favor, verifique sua caixa de entrada (e sua pasta de spam, se necessário).
                        </p>
                        <div class="text-center">
                            <a href="/" class="btn btn-primary">Voltar para a Página Inicial</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
