{% extends 'indexlogin.html' %}
{% block title %}Recuperar Senha{% endblock %}

{% block content %}
    <div class="container-fluid vh-100">
        <div class="d-flex justify-content-center align-items-center vh-100">
            <div class="col-md-6 col-12">
                <div class="mt-3">
                    <h3 class="m-0 text-center mt-4">Recuperar sua Senha</h3>
                    <div class="card-body">
                        <form method="post" class="needs-validation" novalidate>
                            {% csrf_token %}
                            <div class="mb-3 input-group">
                                <span class="input-group-text" id="email-addon"><i class="fa fa-envelope"></i></span>
                                <input type="email" class="form-control" name="email" placeholder="Digite seu email" aria-describedby="email-addon" required>
                            </div>
                            <button type="submit" class="btn btn-primary col-12 text-center">Enviar Email</button>
                            <Label class="mt-1 text-center w-100">Não esqueceu sua senha? <a href="/accounts/login/">Vamos logar!</a></Label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}