{% load static %}
{% block content %}
<!-- Footer Start -->
<div class="footer vh-18 flex flex-col items-center justify-center bg-dark-900" >
    <div class="container py-5">
        <div class="flex flex-col items-center justify-center gap-2 text-center">
            <img src="{% static 'img/floowpremia.png' %}" class="w-24 " alt="Flow Premia">
            <span class="text-white text-sm">Copyright © 2025 FloowPremia, todos os Direitos Reservados</span>
        </div>
        </div>
    </div>
</div>
<!-- Footer End -->
{% endblock %}