{% load static %}
{% block content %}


<!-- Navbar & Hero Start -->
<div class="position-relative p-0  {% if request.path != '/' %} {% endif %}">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0 {% if request.path != '/' %} sticky-top on-top shadow-sm {% else %} navbarstickyhome {% endif %}">
        <a href="/" class="navbar-brand p-0">
            {% if variaveis_globais.logo_type and  variaveis_globais.logo_type == 'image' %}
                <div class="desktop-logo">
                    <img src="/media/{{ variaveis_globais.logo_image }}" class="img-fluid" alt="Logo para Desktop">
                </div>
                <div class="mobile-logo" >
                    <img src="/media/{{ variaveis_globais.logo_image_mobile }}" class="img-fluid" alt="Logo para Mobile">
                </div>
            {% else %}
                <div class="desktop-logo">
                    <h1 class="m-0"><i class="fa fa-map-marker-alt me-3"></i>{{ variaveis_globais.logo_text }}</h1>
                </div>
                <div class="mobile-logo">
                    <h1 class="m-0"><i class="fa fa-map-marker-alt me-3"></i>{{ variaveis_globais.logo_text_mobile }}</h1>
                </div>
            {% endif %}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                {% if request.user.username %} 
                    {% if request.user.is_staff or request.user.is_superuser %}
                        <a class="nav-link disabled" href="/clientes/cadastro/">Cadastro de cliente</a>
                        {% comment %} <a class="nav-link" href="/relatorios/menu">Relatórios</a> {% endcomment %}
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Gerenciamento da Campanha
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="/campanhas">Cadastrar campanhas</a></li>
                                <li><a class="dropdown-item" href="/sorteio">Gerar sorteio</a></li>
                                <li><a class="dropdown-item" href="/produtos">Cadastrar produtos</a></li>
                                <li><a class="dropdown-item" href="/fornecs">Cadastrar fornecedores</a></li>
                                <li><a class="dropdown-item" href="/blacklist">Lista de exclusão</a></li>
                            </ul>
                        </div>
                        {% if request.user.is_superuser %}
                            <a href="/admin/" class="nav-link">Painel administrativo</a>
                        {% endif %}
                    {% endif %}
                    <div class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{request.user.first_name}}</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            {% if request.user.is_staff %}
                                <li><a class="dropdown-item" href="/accounts/config/userpage/"><i class="fa-solid fa-gear me-2"></i>Configurar página do cliente</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="/accounts/deslogar"><i class="fa fa-power-off me-2"></i>Deslogar</a></li>
                        </ul>
                    </div>
                {% else %}
                    <a href="/accounts/login" class="nav-item nav-link">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->

{% endblock %}