{% extends 'index.html' %}
{% block title %}Número da sorte{% endblock %}
{% load static %}
{% block content %}
<header class="masthead">
    <div class="container-fluid position-relative h-100">
        <div class="row justify-content-center h-100">
            <div class="{% if not postmethod %} col-xl-8 {% else %} col-xl-10 {% endif %}">
                {% if not postmethod %}
                    <div class="text-center text-white">
                        <h1 class="mb-5">{{ variaveis_globais.initial_text }}</h1>
                        <form class="form-subscribe" id="cpfForm" method="POST">
                            {% csrf_token %}
                            <!-- Email address input-->
                            <div class="row flex-wrap">
                                <div class="col-12 col-md-5 mb-3">
                                    <input required class="form-control form-control-lg" id="cpf" name="cpf" type="number" placeholder="CNPJ"  />
                                </div>
                                <div class="col-12 col-md-5 mb-3">
                                    <input required class="form-control form-control-lg" id="email" name="email" type="email" placeholder="EMAIL"  />
                                </div>
                                <div class="col-12 col-md-2 mb-3"><button class="btn btn-primary btn-lg w-100" id="submitButton" type="submit">Pesquisar</button></div>
                            </div>
                            {% include 'partials/message.html' %}
                        </form>
                    </div>
                {% else %}
                    {% if num_da_sorte %}
                        <div class=" jumbotron card text-center p-3 table-responsive" >
                            <table class="table  table-hover tableSearchButton">
                                <thead>
                                    <tr>
                                        <th class="col-3 text-start">Número da sorte</th>
                                        <th class="col-3 text-start">Campanha</th>
                                        <th class="col-3 text-start">Valor</th>
                                        <th class="col-3 text-start">Data do Pedido</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for num in num_da_sorte %}
                                        <tr>
                                            <td class="col-3 text-start">{{ num.0 }}</td>
                                            <td class="col-3 text-start">{{ num.1 }}</td>
                                            <td class="col-3 text-start">{{ num.2 }}</td>
                                            <td class="col-3 text-start">{{ num.3|date:"d/m/Y" }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="jumbotron card text-center" >
                            <div class="card-body">
                                <h1 class="display-4">{{cpf_exist.2}}</h1>
                                <p class="lead">
                                    {% if currenttime.hour < 12 %}
                                        Bom dia!
                                    {% elif currenttime.hour < 18 %}
                                        Boa tarde!
                                    {% else %}
                                        Boa noite!
                                    {% endif %}
                                    atualmente você ainda não possui números da sorte
                                </p>
                                <p class="lead">
                                    Para obter seu primeiro número vamos as compras!
                                </p>
                                <a href="/" class="btn btn-primary">Finalizar consulta</a>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</header>

{% endblock %}