<!-- Modal de Desativar -->
<div class="modal fade" id="deactivateModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <form class="modal-content needs-validation" method="POST">
            {% csrf_token %}
            <div class="flex flex-col">
                <div class="flex items-center justify-between border-b p-4">
                    <h5 class="text-lg font-medium" id="modalTitle">Desativar</h5>
                    <button type="button" class="text-gray-400 hover:text-gray-500" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="flex flex-wrap justify-start p-6">
                    <input type="hidden" name="{{primarykey}}" id="id_{{primarykey}}"/>
                    <div class="w-full mt-5 mb-4 text-center">
                        <i class="fas fa-ban text-yellow-500 text-6xl"></i>
                    </div>
                    <div class="w-full mb-3 text-center">
                        <h4 class="text-xl font-bold">Você tem certeza?</h4>
                    </div>
                    <div class="w-full">
                        <p class="text-center text-gray-600">Deseja realmente desativar o item?</p>
                    </div>
                </div>
                <div class="flex items-center justify-center border-t p-4 space-x-2">
                    <button type="button" class="w-1/2 bg-gray-500 hover:bg-gray-600 text-white font-medium py-2 px-4 rounded" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" name="desative" id="modalSubmitButton" class="w-1/2 bg-yellow-500 hover:bg-yellow-600 text-white font-medium py-2 px-4 rounded">Desativar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal de Ativar -->
<div class="modal fade" id="activateModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <form class="modal-content needs-validation" method="POST">
            {% csrf_token %}
            <div class="flex flex-col">
                <div class="flex items-center justify-between border-b p-4">
                    <h5 class="text-lg font-medium" id="modalTitle">Ativar</h5>
                    <button type="button" class="text-gray-400 hover:text-gray-500" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="flex flex-wrap justify-start p-6">
                    <input type="hidden" name="{{primarykey}}" id="id_{{primarykey}}"/>
                    <div class="w-full mt-5 mb-4 text-center">
                        <i class="fa fa-check text-green-500 text-6xl"></i>
                    </div>
                    <div class="w-full mb-3 text-center">
                        <h4 class="text-xl font-bold">Você tem certeza?</h4>
                    </div>
                    <div class="w-full">
                        <p class="text-center text-gray-600">Deseja realmente ativar o item?</p>
                    </div>
                </div>
                <div class="flex items-center justify-center border-t p-4 space-x-2">
                    <button type="button" class="w-1/2 bg-gray-500 hover:bg-gray-600 text-white font-medium py-2 px-4 rounded" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" name="active" id="modalSubmitButton" class="w-1/2 bg-green-500 hover:bg-green-600 text-white font-medium py-2 px-4 rounded">Ativar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function loadDataActive(id) {
        $.ajax({
            url: '/get_data/', // Endpoint que retorna os dados da campanha
            method: 'GET',
            data: { 
                    id: id,
                    app_name: '{{appname}}',
                    model_name: '{{modelname}}',
                    id_name: '{{primarykey}}',
                    transation: 'S'
            },
            success: function(data) {
                console.log(data)
                // Seleciona o modal específico pelo ID
                var modal = $('#activateModal');
                var form = modal.find('form');
                form[0].reset();
                form.removeClass('was-validated');
                
                // Atribui o valor de codmarca ao input hidden
                modal.find('#id_{{primarykey}}').val(data.{{primarykey}});

                // Ajusta o modal para edição
                modal.find('#modalTitle').html('{{tituloActive}} ' + data.{{nomecolum}});
                modal.find('#modalSubmitButton').attr('name', 'active').text('Ativar');
                
                // Exibe o modal
                modal.modal('show');
            }
        });
    }

    function loadDataDeactive(id) {
        $.ajax({
            url: '/get_data/', // Endpoint que retorna os dados da campanha
            method: 'GET',
            data: { 
                    id: id,
                    app_name: '{{appname}}',
                    model_name: '{{modelname}}',
                    id_name: '{{primarykey}}',
                    transation: 'N'
                },
            success: function(data) {
                console.log(data)
                // Seleciona o modal específico pelo ID
                var modal = $('#deactivateModal');
                var form = modal.find('form');
                form[0].reset();
                form.removeClass('was-validated');
                
                // Atribui o valor de codmarca ao input hidden
                modal.find('#id_{{primarykey}}').val(data.{{primarykey}});

                // Ajusta o modal para edição
                modal.find('#modalTitle').html('{{tituloDeactive}} ' + data.{{nomecolum}});
                modal.find('#modalSubmitButton').attr('name', 'desative').text('Desativar');
                
                // Exibe o modal
                modal.modal('show');
            }
        });
    }
</script>


