{% load static %}
{% block content %}
<!-- Modal de Edição -->
<div class="modal fade" id="editModal{{campanha.0}}" tabindex="-1" aria-labelledby="editModal{{campanha.0}}ds" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form novalidate class="modal-content needs-validation" method="POST">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModal{{campanha.0}}ds">Editar {{campanha.1}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-body1 d-flex justify-content-start flex-wrap">
                    {% for campo in campos %}
                        {% with nome=campo.0 tipo=campo.1 requerido=campo.2 col=campo.3 options=campo.4 placeholder=campo.5 Label=campo.6%}
                            {% if tipo != 'hidden' %}    
                                <div class="{{col}} mb-3">
                                    <label for="{{ nome }}" class="form-label">
                                        {{ Label|capfirst }}{% if requerido %} <span class="text-danger">*</span>{% endif %}
                                    </label>
                                    {% if tipo == 'text' %}
                                        <input type="text" value="{{ campanha|slice:forloop.counter0 }}" class="form-control" id="{{ nome }}" name="{{ nome }}" placeholder="{{placeholder}}" {% if requerido %} required{% endif %}>
                                    {% elif tipo == 'number' %}
                                        <input type="number" value="{{ campanha|slice:forloop.counter0 }}" min="1" class="form-control" id="{{ nome }}" name="{{ nome }}" placeholder="{{placeholder}}" {% if requerido %} required{% endif %}>
                                    {% elif tipo == 'date' %}
                                        <input type="date" value="{{ campanha|slice:forloop.counter0 }}" class="form-control" id="{{ nome }}" name="{{ nome }}" placeholder="{{placeholder}}" {% if requerido %} required{% endif %}>
                                    {% elif tipo == 'select' %}
                                        <select class="form-select" id="{{ nome }}" name="{{ nome }}" {% if requerido %} required{% endif %}>
                                            {% for option in options %}
                                                <option value='{{option.0}}'>{{option.1}}</option>
                                            {% endfor %}
                                        </select>
                                    {% elif tipo == 'select2' %}
                                        <select class="form-select select2" id="{{ nome }}" name="{{ nome }}" {% if requerido %} required{% endif %}>
                                            
                                        </select>
                                    {% endif %}
                                </div>
                            {% else %}
                                <input type="hidden" value="{{ campanha|slice:forloop.counter0 }}" d="{{ nome }}" name="{{ nome }}"/>
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                </div>
                <div class="modal-footer d-flex justify-content-between flex-nowrap">
                    <button type="button" class="btn btn-secondary btn-sm col-5" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" name="edit" class="btn btn-primary btn-sm col-5">Editar</button>
                    <button type="submit" name="edit2" class="btn btn-primary d-none">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}