{% load static %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">

<!-- Modal de inserção e edição -->
<div class="modal fade" id="insertEditModal" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <form novalidate class="modal-content needs-validation" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">{{ tituloInsere }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-body1 row flex-wrap" id="bodyinsere">
                <input type="hidden" name="{{primarykey}}" id="id_{{primarykey}}"/>
                {% for field in form %}
                    <div class="{% if field.field.widget.input_type != "checkbox" %} input-group-cosmic-cascade-tetra-49m7 {% endif %} {% if field.field.widget.input_type == "file" %} file-input-container d-flex flex-column text-center {% endif %} {{ field.field.widget.attrs.classdiv }}">
                        {% if field.field.widget.input_type == "file" %}
                            <label for="preview_{{ field.name }}" class="{{ field.field.widget.attrs.classlabel }}">{{ field.label }}</label>
                            <input type="file" id="{{ field.id_for_label }}" name="{{ field.name }}" class="d-none" onchange="previewImage(this)" accept="image/*">
                            <img id="preview_{{ field.name }}" class="img-thumbnail {{ field.field.widget.attrs.class }}" src="{% if field.value %}{{ field.value }}{% else %}https://via.placeholder.com/1920x1080{% endif %}" alt="Preview Image" style="cursor: pointer" onclick="document.getElementById('{{ field.id_for_label }}').click();">
                        
                        {% else %}
                            {% if field.field.widget.attrs.select2Label %}
                                <label class="" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% endif %}
                            {{ field }}
                            {% if not field.field.widget.attrs.select2Label %}
                                <label class="{% if field.field.widget.input_type != "checkbox" %} user-label-cosmic-cascade-tetra-49m7 {% endif %} {{ field.field.widget.attrs.classlabel }}" for="{{ field.id_for_label }}">{{ field.label|safe }}</label>
                            {% endif %}
                        {% endif %}
                        {% if field.errors %}
                            <div id="{{ field.id_for_label }}Feedback" class="invalid-feedback">
                                {% for error in field.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="modal-footer d-flex justify-content-between flex-nowrap">
                <button type="button" class="btn btn-secondary btn-sm col-5" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" name="insert" id="modalSubmitButton" class="btn btn-primary btn-sm col-5">Salvar</button>
                <button type="submit" name="insert" class="btn btn-primary btn-sm col-5 d-none">Salvar2</button>
            </div>
        </form>
    </div>
</div>


<!-- Modal de inserção -->
<div class="modal fade" id="insertModalPlanilha" data-bs-keyboard="false" aria-labelledby="insertModalPlanilhaLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form novalidate class="modal-content needs-validation" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" id="insertModalPlanilhaLabel">{{tituloPlanilha}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-body1 d-flex justify-content-start flex-wrap" id="bodyinsere">
                <div class="mb-3 mt-3 col-12">
                    <input type="file" class="form-control" id="planilhas" name="planilhas" placeholder="Selecione uma planilha no modelo abaixo" required>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between flex-nowrap">
                <button type="button" class="btn btn-secondary btn-sm col-4" data-bs-dismiss="modal">Cancelar</button>
                <a href="/baixar-modelo/{{tipolink}}/" class="btn btn-info btn-sm col-3">Baixar modelo</a>
                <button type="submit" name="insertp" class="btn btn-primary btn-sm col-4">Salvar</button>
                <button type="submit" name="insertp2" class="btn btn-primary d-none">Salvar</button>
            </div>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        });
    });

    $('#insertEditModal').on('shown.bs.modal', function () {
        $('.summernote').summernote({
            height: 300,  // Altura da caixa de texto do editor
            toolbar: [
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']]
            ]
        });
        $('.dropdown-toggle').dropdown();
    });
</script>
<script>
    function previewImage(input) {
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            
            reader.onload = function (e) {
                const previewId = 'preview_' + input.name;
                document.getElementById(previewId).src = e.target.result;
            }
            
            reader.readAsDataURL(input.files[0]); // converte o arquivo para URL de dados base64
        }
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var insertEditModal = document.getElementById('insertEditModal');
        
        insertEditModal.addEventListener('show.bs.modal', function () {
            fetch("{% url 'get_csrf_token' %}")  // Substitua 'get_csrf_token' pela URL da view criada
                .then(response => response.json())
                .then(data => {
                    // Atualiza o campo CSRF token
                    document.querySelector('input[name="csrfmiddlewaretoken"]').value = data.csrfToken;
                })
                .catch(error => console.error('Error:', error));
        });
    });
    
    function loadEditData(id) {
        $.ajax({
            url: '/get_data/', // Endpoint que retorna os dados da campanha
            method: 'GET',
            data: { 
                id: id,
                app_name: '{{appname}}',
                model_name: '{{modelname}}',
                id_name: '{{primarykey}}',
                transation: 'N'
            },
            success: function(data) {
                console.log(data)
                var modal = $('#insertEditModal');
                var form = modal.find('form');
                form[0].reset();
                modal.find(".select2").val('').trigger('change');
                $('.summernote').summernote('destroy');
                form.removeClass('was-validated');
    
                modal.find('input, select, textarea').each(function() {
                    var input = $(this);
                    var fieldName = input.attr('name'); // Obtém o nome do campo
                
                    if (fieldName && data[fieldName] !== undefined) {
                        var value = data[fieldName];
                
                        // Verifica se o campo é do tipo date ou datetime-local
                        if (input.is('input[type="date"]')) {
                            if (value) {
                                var date = new Date(value);
                                value = date.toISOString().split('T')[0];
                                input.val(value);
                            }
                        } else if (input.is('input[type="datetime-local"]')) {
                            if (value) {
                                var date = new Date(value);
                                value = date.toISOString().slice(0, 16);
                                input.val(value);
                            }
                        } else if (input.is('input[type="file"]')) {
                            // Para arquivos, apenas defina a URL da imagem de pré-visualização
                            const previewId = 'preview_' + input.attr('name');
                            if (value) {
                                document.getElementById(previewId).src = value;
                            } else {
                                document.getElementById(previewId).src = 'https://via.placeholder.com/150';
                            }
                        } else if (input.is('select')) {
                            var values = Array.isArray(value) ? value : [value];
                            var validValues = [];
                            for (let i = 0; i < values.length; i++) {
                                let currentValue = values[i];
                                var optionExists = input.find('option[value="' + currentValue + '"]').length > 0;
                                if (optionExists) {
                                    validValues.push(currentValue);
                                } else {
                                    console.warn('Valor não encontrado nas opções do select: ' + fieldName + ' = ' + currentValue);
                                }
                            }
                            if (validValues.length > 0) {
                                if (input.hasClass('select2')) {
                                    input.val(validValues).trigger('change');
                                } else {
                                    input.val(validValues);
                                }
                            }
                        } else {
                            input.val(value);
                        }
                    }
                });
        
                modal.find('#modalTitle').html('{{tituloEdit}} ' + data.descricao);
                modal.find('#modalSubmitButton').attr('name', 'edit').text('Editar');
                modal.modal('show');
            }
        });
    }
</script>

{% endblock %}